{% extends 'base-profil.html.twig' %}
{% block body %}
    <section id="connexion">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="d-flex d-md-block bg-yellow-1 col-md-4 col-12 p-3"></div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <p class="m-0"> <a href="profil-participant.html">Retour ?</a></p>
                    <h1 class="compte mb-5">Modifier un transport</h1>
                        <form method="post" action="?controller=transports&action=update&id_transport={{transport.id_mdt}}">
                            <div class="form-row">
                                <p>
                                    <input class="col-md-6 mb-1 p-2 " type="text" id="titre" placeholder="Titre de l'événement" value="{{event.titre_event}}" disabled>
                                </p>
                                <p>
                                    <select class="col-md-6 mb-1 p-2" type="text" name="type_transport" placeholder="type transport">
                                        {% for typeTransport in list %}
                                            {% if typeTransport.id_type_transport == transport.id_type_transport %}
                                                <option value="{{ typeTransport.id_type_transport }}" selected>{{ typeTransport.libelle_type_transport }}</option>
                                            {% else %}
                                                <option value="{{ typeTransport.id_type_transport }}">{{ typeTransport.libelle_type_transport }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                   
                                </p>
                                <p>
                                    <input class="col-md-6 mb-1 p-2 " type="date" id="date-debut" name="date_depart" placeholder="date de départ" value="{{transport.date_depart_transport}}">
                                </p>
                                <p>
                                    <input class="col-md-3 mb-1 p-2 " type="time" id="lieu" name="heure_depart" placeholder="heure de départ" value="{{transport.heure_depart}}">
                                    <input class="col-md-3 mb-1 p-2 " type="time" id="heure_arrivee" name="heure_arrivee" placeholder="heure d'arrivée" value="{{transport.heure_arrivee}}">
                                </p>
                                <p>
                                    <div class="col-md-6 col-sm-6">
                                        <select class="form-ville p-2" id="lieu" name="lieu">
                                            {% for lieu in lieu %}
                                                {% if lieu.id_lieu == transport.id_lieu %}
                                                    <option value="{{ lieu.id_lieu }}" selected>{{ lieu.ville }}</option>
                                                {% else %}
                                                    <option value="{{ lieu.id_lieu }}">{{ lieu.ville }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </p>
                                <p>
                                    <input class="col-md-6 mb-1 p-2 " type="text" id="contact" name="contact" placeholder="contact" value="{{transport.info_contact}}">
                                </p>
                                <p>
                                    <input class="col-md-3 mb-1 p-2 " type="text" id="lieu" name="place" placeholder="place dispo" value="{{transport.nb_dispo}} places disponibles">
                                    <input class="col-md-3 mb-1 p-2" type="text" id="photo" name="prix" placeholder="prix par personne"  value="{{transport.tarif}}€">
                                </p>
                                <p>
                                    <textarea class="col-md-6 mb-1 p-2" type="text" id="description" name="description" value="{{transport.descriptif}}">{{transport.descriptif}}</textarea>
                                </p>
                            </div>
                            <div class="btn">
                                <a><input class="btn p-0" type="submit" value="Modifier"></a>
                            </div>
                </div>
                        </form>
            </div>
        </div>
    </section>
{% endblock %}