{% extends 'base-profil.html.twig' %}
{% block body %}
<section id="profil">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="d-flex d-md-block bg-yellow-1 col-md-4 col-12 p-3"></div>
            <div class="col-md-2"></div>
            <div class="col-md-5 mb-5 ml-5">
                <div class="compte m-0">
                    <p class="m-0"> <a href="#"  onclick="backOrToPage()">Retour ?</a></p>
                </div>
                <h1 class="compte mb-5">Mon profil</h1>
                <div class="profil">
                    
                    {% if user.url_photo == NULL %}
                        {% if user.genre == 0 %}
                            <img src="img/Plan de travail 3.png"  alt="profil">
                        {% else %}
                            <img src="img/Plan de travail 4.png"  alt="profil">
                        {% endif %}
                    {% else %}
                        <img class="mb-3" src="{{user.url_photo}}"  alt="profil">
                    {% endif %}

                    <p>
                        <a class="change-photo-link"  data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">Modifier ma photo</a>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="exampleModalLabel">Modifier ma photo</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form action="?controller=users&action=seeProfil&id={{ userSession }}" method="post" enctype="multipart/form-data">
                                        <div class="modal-body">
                                            <div class="row align-items-center">
                                                <div class="col-10">
                                                <div class="form-connexion mb-5">
                                                    <label for="photo">Choisir une nouvelle photo:</label>
                                                    <input type="file" id="photo" name="photo">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="btn">
                                            <a><input class="btn p-0" data-bs-dismiss="modal" value="Fermer"></a>
                                            </div>
                                            <div class="btn">
                                            <a><input class="btn p-0" type="submit" value="Valider"></a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
                    </p>
                    <div class="trait"></div>
                    <h2 class="compte mb-2 mt-3">Informations</h2>
                    <a class="" href="?controller=users&action=formUpdateProfil&id_user={{ user.id_user }}">Modifier mon profil</a>
                    <a class="" href="?controller=users&action=deleteProfil&id_user={{ user.id_user }}">Supprimer mon profil</a>
                    <p class="mt-3"><i class="fa-solid fa-user fa-xl"></i>{{user.raison_sociale}} {{user.nom_user}}  {{user.prenom_user}} </p>
                    <p class="mb-3"><i class="fa-solid fa-phone fa-xl"></i>{{user.tel_user}} </p>
                    <div class="trait"></div>
                    <p class="mt-3 mb-3" ><i class="fa-solid fa-envelope fa-xl"></i>{{user.mail_user}} </p>
                    <div class="trait"></div>
                    <p class="mt-3" ><i class="fa-solid fa-location-dot fa-xl"></i>3 Rue du Limas 64100 BAYONNE</p>
                    <p class="" ></p>
                    <p class="" ></p>
                    
                </div>
            </div>
        </div>
    </div>     
</section>
<script>
    // Récupérer le lien et ajouter un écouteur d'événement
    var changePhotoLink = document.querySelector('.change-photo-link');
    changePhotoLink.addEventListener('click', function(event) {
        event.preventDefault(); // Empêcher le lien de se comporter comme un lien normal

        // Afficher la modal
        var modal = document.querySelector('#change-photo-modal');
        modal.style.display = 'block';
    });

        // Sélectionnez le formulaire de la modal pour la modification de la photo
    const formPhoto = document.querySelector('#exampleModal form');

    // Ajoutez un gestionnaire d'événements pour écouter la soumission du formulaire
    formPhoto.addEventListener('submit', function() {
    // Rechargez la page après la soumission du formulaire
    location.reload();
    });
</script>
{% endblock %}
