{% extends 'base-profil.html.twig' %}
{% block body %}
<section id="profil">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="d-flex d-md-block bg-yellow-1 col-md-4 col-12 p-3"></div>
            <div class="col-md-2"></div>
            <div class="col-md-5 mb-5 ml-5">
                <div class="compte m-0">
                    <p class="m-0"> <a href="profil-organisateur.html">Retour ?</a></p>
                </div>
                <h1 class="compte mb-5">Mon profil</h1>
                <div class="profil">
                    {% if user.genre == 0 %}
                        <img src="img/Plan de travail 3.png"  alt="profil">
                    {% else %}
                        <img src="img/Plan de travail 4.png"  alt="image2">
                    {% endif %}
                    <p>
                        <a class="" href="change-photo.html"></i>Modifier ma photo</a>
                    </p>
                    <div class="trait"></div>
                    <h2 class="compte mb-2 mt-3">Informations</h2>
                    <a class="" href="?controller=users&action=updateProfil&id={{ user.id_user }}">Modifier mon profil</a>
                    <a class="" href="?controller=users&action=deleteProfil&id={{ user.id_user }}">Supprimer mon profil</a>
                    <p class="mt-3"><i class="fa-solid fa-user fa-xl"></i>{{user.raison_sociale}} {{user.nom_user}}  {{user.prenom_user}} </p>
                    <p class="mb-3"><i class="fa-solid fa-phone fa-xl"></i>{{user.tel_user}} </p>
                    <div class="trait"></div>
                    <p class="mt-3 mb-3" ><i class="fa-solid fa-envelope fa-xl"></i>{{user.mail_user}} </p>
                    <div class="trait"></div>
                    <p class="mt-3" ><i class="fa-solid fa-location-dot fa-xl"></i>3 Rue du Limas 64100 BAYONNE</p>
                    <p class="" ></p>
                    <p class="" ></p>
                    
                </div>
            </div>
        </div>
    </div>     
</section>
{% endblock %}