{% extends 'base-profil.html.twig' %}
{% block body %}
    <section id="connexion">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="d-flex d-md-block bg-yellow-1 col-md-4 col-12 p-3"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-6">
                        <p class="m-0"> <a href="profil.html">Retour ?</a></p>
                        <h1 class="compte mb-5">Modifier mon profil</h1>
                            <div class="compte">
                                <p class="mb-2"> Etes-vous un organisateur ?
                                    <input class="ms-5" type="checkbox"> Oui 
                                    <input class="ms-3" type="checkbox"> Non</p>
                            </div>
                            <form method="" action="">
                                <div class="form-row">
                                    <p>
                                        <input class="col-md-6 mb-1 p-2" type="text" id="raison sociale" placeholder="raison sociale" value="{{user.raison_sociale}}">
                                    </p>
                                    <p>
                                        <input class="col-md-3 mb-1 p-2 " type="text" id="nom" placeholder="nom" value="{{user.nom_user}}">
                                        <input class="col-md-3 mb-1 p-2 " type="text" id="prenom" placeholder="prenom" value="{{user.prenom_user}}">
                                    </p>
                                    <p>
                                        <input class="col-md-3 mb-1 p-2 " type="text" id="lieu" placeholder="email" value="{{user.mail_user}}">
                                        <input class="col-md-3 mb-1 p-2 " type="text" id="categories" placeholder="mot de passe">
                                    </p>
                                    <p>
                                        <input class="col-md-6 mb-1 p-2" type="text" id="adresse" placeholder="adresse" value="{{user.adresse_user}}">
                                    </p>
                                    <p>
                                        <input class="col-md-3 mb-1 p-2 " type="text" id="codepostale" placeholder="code postale" value="">
                                        <input class="col-md-3 mb-1 p-2 " type="text" id="ville" placeholder="ville" value="">
                                    </p>
                                    <p>
                                        <input class="col-md-6 mb-1 p-2" type="text" id="photo" placeholder="téléphone" value="{{user.tel_user}}">
                                    </p>
                                </div>
                                <div class="btn">
                                    <a><input class="btn p-0" type="submit" value="Modifier"></a>
                                </div>
                    </div>
                            </form>
                </div>
            </div>
        </section>

{% endblock %}